In [19]:
# Useful Examples 

#-- args and kwargs

def argument1_and_args(arg1, *argv):
    print ("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)
 
argument1_and_args('Hello, this is the first input', 'this is', 'more arguments', 'can also be numbers', 33)


print('\n')


def arguments_and_kwargs(arg1, **kwargs):
    print(arg1)
    
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))

arguments_and_kwargs("Hi", first ='1', mid ='2', last='3')

First argument : Hello, this is the first input
Next argument through *argv : this is
Next argument through *argv : more arguments
Next argument through *argv : can also be numbers
Next argument through *argv : 33


Hi
first == 1
mid == 2
last == 3

In [12]:
#-- Operations 
a = 9
a%5

4

In [3]:
#-- Strings --------------------------------

myTuple = ("John", "Peter", "Vicky")
x = " and ".join(myTuple)
print(x)


str1 = 'O'
str2 = 'la!'
str1 + str2

John and Peter and Vicky

'Ola!'

In [6]:
# Example

string = "abracadabra"
l = list(string)
l[5] = 'k'
string = ''.join(l)
print(string)
print(l)

abrackdabra
['a', 'b', 'r', 'a', 'c', 'k', 'd', 'a', 'b', 'r', 'a']

In [10]:
# Example v2
string = "abracadabra"
print(string[:5])
print(string[5:])
string = string[:5] + "k" + string[6:]

abrac
adabra

In [25]:
# Lists

# Consider a list (list = []). You can perform the following commands:
# insert i e: Insert integer e at position i.
# print: Print the list.
# remove e: Delete the first occurrence of integer e.
# append e: Insert integer e at the end of the list.
# sort: Sort the list.
# pop: Pop the last element from the list.
# reverse: Reverse the list.

x = []
x.append(1)
x.append(4)
x.append(3)
x.remove(4)
x.pop(0)
x.insert(3,10)

x

[3, 10]

In [5]:
# ----- map()
# Return double of n
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
result

print(list(result))

[2, 4, 6, 8]

In [9]:
import itertools

def kth_permutation(n, k):
    permutations = list(itertools.permutations(range(1, n+1)))
    return ''.join(map(str, permutations[k-1]))

In [7]:
kth_permutation(3,3)

'213'

In [11]:
range(5)

range(0, 5)

In [16]:

len(list(itertools.permutations(range(4))))

24